name: "Get Launchpad Token"
description: "Retrieves a Launchpad token using AWS Lambda"
inputs:
  aws-access-key-id:
    required: true
  aws-secret-access-key:
    required: true
  aws-region:
    required: false
    default: us-west-2
  lambda-function:
    required: true
outputs:
  result:
    description: "The SM token retrieved from Lambda"
    value: ${{ steps.get-token.outputs.result }}
runs:
  using: "composite"
  steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ inputs.aws-access-key-id }}
        aws-secret-access-key: ${{ inputs.aws-secret-access-key }}
        aws-region: ${{ inputs.aws-region }}

    - name: Invoke Launchpad Token Lambda
      id: get-token
      shell: bash
      run: |
        OUTPUT_FILE=result.json
        PAYLOAD=$(echo '{"client_id": "l2sspyautotest", "minimum_alive_secs": 300}' | base64)

        aws lambda invoke \
          --function-name ${{ inputs.lambda-function }} \
          --payload "$PAYLOAD" \
          $OUTPUT_FILE > /dev/null 2>&1

        if jq -e 'has("errorMessage")' "$OUTPUT_FILE" > /dev/null; then
          echo "Error detected in Lambda response:"
          cat "$OUTPUT_FILE"
          exit 1
        fi

        RESULT=$(jq -r '.sm_token' < "$OUTPUT_FILE")
        echo "::add-mask::$RESULT"
        echo "result=$RESULT" >> $GITHUB_OUTPUT