# Run every third day starting from the 1st of the month 1 am pacific

name: Regression

on:

  schedule:
    - cron: '0 8 1-31/3 * *'

  workflow_dispatch:

jobs:
  regression_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment: ['uat', 'ops']

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
  
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Poetry
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: 1.5.1

    - name: Poetry Install
      run: |
        poetry install

    - name: Run regression
      working-directory: tests
      env:
        CMR_USER: ${{ secrets.CMR_USER }}
        CMR_PASS: ${{ secrets.CMR_PASS }}
        ENV: ${{ matrix.environment }}
        GITHUB_REPOSITORY: ${{ github.repository }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}      
      run: |
        poetry run python get_associations.py
        poetry run pytest -n 10 verify_collection.py --env ${{ matrix.environment }} --regression --junitxml=$GITHUB_WORKSPACE/test-results/${{ matrix.environment }}_test_report.xml || true

    - name: Run Create Issues Script
      working-directory: tests
      env:
        GITHUB_REPOSITORY: ${{ github.repository }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ENV: ${{ matrix.environment }}
        CMR_USER: ${{ secrets.CMR_USER }}
        CMR_PASS: ${{ secrets.CMR_PASS }}
        GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}      
      run: poetry run python create_or_update_issue.py

    - name: Publish Test Results
      id: publish-test
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        report_suite_logs: info
        check_name: Regression test results for ${{ matrix.environment }}
        comment_title: Test Results for ${{ matrix.environment }}
        files: test-results/${{ matrix.environment }}_test_report.xml

    - name: Archive test results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.environment }}-test-results
        path: tests/${{ matrix.environment }}_regression_results.json

